 <!--Portfolio-->
<section id="portfolio">
    <!--Title-->
    <div class="title">
        <div>
            <h1>Mes réalisations</h1>
            <h4>Découvrez mes réalisations, mes projets ...</h4>
        </div>
        <div class="titleArrow"></div>
    </div>
    <!--End title-->

    <!--Filter nav holder-->
    <div id="filternavHolder">
        <!-- Filter nav -->
        <ul id="category" class="filter">
            <li class="all current"><a href="#">All Work</a></li>
            <li class="catWeb"><a href="#">Web Design</a></li>
            <li class="catGraphic"><a href="#">Graphic Design</a></li>
            <li class="catMotion"><a href="#">Motion Graphic</a></li>
        </ul>
        <!-- End filter nav -->
    </div>
    <!--End filter nav holder-->

    <!--Inner portfolio-->
    <div id="innerPortfolio" class="clearfix">

        <!-- Works list -->
        <section id="works" class="clearfix">
            <!--Portfolio-->
            <ul class="portfolio clearfix">
                {% for i, project in projects %}
                    <li data-id="id-{{ i }}" data-type="catWeb" class="item">
                        <img src="{{ project.getWebPath() | apply_filter('project_180') }}" alt="{{ project.name }}" />
                        <a href="{{ path('project_show', { 'slug': project.slug }) }}" title="Cliquez pour voir le détail de cette réalisation" rel="facebox" class="folio icon">+</a>
                        <div class="hgroup">
                            <h3>{{ project.name }}</h3>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <!--End portfolio-->
        </section>
        <!-- End works list -->
    </div>
    <!--End inner portfolio-->
</section>
<!--End portfolio-->
